body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    height: 100vh;
    width: 100%;
    background-image: url("poker_2.jpeg");
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: goldenrod;
    text-align: center;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    margin-top: 2px;
}